.bg-mynav {
  background-image: linear-gradient(to bottom, rgb(162, 44, 148), rgb(34, 10, 36));
  box-shadow: -4px 10px 10px black;
}

body {
  font-size: 1.25rem;
  background-color: #f6f8fa;
}

td {
  line-height: 3rem;
}

