.bg-mynav {
  background-image: linear-gradient(to bottom, rgb(162, 44, 148), rgb(34, 10, 36));
  box-shadow: 0px 10px 10px black;
  border-bottom: 1000px;
}

body {
  color: whitesmoke;
  font-size: 1.25rem;
  background-color: #2b2b2b;
}

td {
  color: whitesmoke;
  line-height: 3rem;
}
th {
  color: whitesmoke;
}

